* {
    margin: 0;
    ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}